<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'layout.html' %}
    <meta charset="UTF-8">
    {% block title %} Inicio {% endblock %}
    <title></title>
</head>
<body>
    {% block content %}
    <!--Esto es un comentario en HTML-->
    {% comment 'Nota para el comentario' %}
        <h1> Hola soy un comentario</h1>
    {% endcomment %}
    <h1 class="title">{{title}}</h1>

    <p>{{mi_variable}}</p>
    {% if nombre and nombre == 'Pablo Calvo' %}
        <p>{{nombre}}</p>
    {% else %}
        <strong>El nombre no existe o no coincide</strong>
    {% endif %}
    <h3>Listado de lenguajes de programacion: </h3>
    <ul>
        {% for lenguaje in lenguajes %}
        <li>{{forloop.counter}} . {{lenguaje}}</li>
        {% empty %}
            <p>NO HAY LENGUAJES QUE MOSTRAR</p>
        {% endfor %}
    </ul>

    <p>Años hasta el 2050: </p>
    <ul>
        {% for year in years %}
            {% if year|divisibleby:2 == True %}
            <li>{{year}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>