{% extends 'layout/layout_bootstrap.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block h1Title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-7">
            <div class="row">
                {% for article in articles %}
                <div class="col-md-3 col-sm-12 col-lg-4">
                    <div class="card text-center">
                        {% if article.image != 'null' and article.image.url|length >= 1 %}
                            <div class="card-img-top">
                                <img src="{{ article.image.url }}" class="img-fluid">
                            </div>
                            {% endif %}
                        <div class="card-header">
                            <h5>
                                <a href="{% url 'article' article.id %}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{article.article_name}}</a>
                            </h5>
                        </div>
                        <div class="card-body">
                            <h6>Categoria: <a href="{% url 'category' article.category_id %}" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ article.category.name }}</a></h6>
                            <p class="card-text">{{article.description}}</p>
                            <br>
                            <p>Costo $ {{ article.cost }}</p>
                            <p>Precio de venta $ {{ article.price }}</p>
                            <p>Margen de ganancia: % {{ article.margin }}</p>
                            <form method="post" action="{% url 'cart_add' article.id %}?page={{ request.GET.page }}">
                                {% csrf_token %}
                                <div>
                                    <button type="submit" class="btn btn-primary mb-3"><i class="bi bi-cart-plus"></i>Agregar</button>
                                </div>
                                <div class="col-md-5 mx-auto text-center">
                                    <input type="number" class="form-control" name="quantity" placeholder="Cant" value="1" min="1">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <p>Stock disponible: {{ article.stock }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-5">
            {% include 'cart/cart_detail.html' %}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
        <div class="pagination">
            {% if articles.has_previous %}
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a href="?page={{ articles.previous_page_number }}" class="page-link">Anterior</a>
                </li>
            {% endif %}
                    {% for page in articles.paginator.page_range %}
                        {% if articles.number == page %}
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% if articles.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ articles.next_page_number }}">Siguiente</a>
                    </li>
                {% endif %}
              </ul>
            </nav>

        </div>
{% endblock %}
