<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../completarSocios.js"></script>
</head>

<body>
<button id="btnGetSocios" onclick="obtenerDatos(url.socios)">Mostrar socios</button>
<button id="btnGetPagos" onclick="obtenerDatos(url.pagos)">Mostrar pagos</button>
<table class="table table-dark table-striped">

  <thead>
    <!-- El encabezado de la tabla se creará dinámicamente -->
  </thead>
  <tbody id="myTable">
    <!-- Las filas de datos se crearán dinámicamente -->
  </tbody>
</table>


</body>
</html>