 <div class="row mt-4">
     <div class="col-6">
         <h3 id="subtitulos">Articulos actualizados en los ultimos 3 dias</h3>
         <div class="table-responsive">
             <table id="datatable-articleStock" class="table table-sm table-bordered table-striped table-hover table-warning">
                 <thead class="table-primary">
                 <tr>
                     <th class="centered">Codigo</th>
                     <th class="centered">Articulo</th>
                     <th class="centered">Stock</th>
                     <th class="centered">Precio</th>
                 </tr>
                 </thead>
                 <tbody id="tableBody-articleStock"></tbody>
             </table>
         </div>
     </div>
     <div class="col-6">
         <h3 id="subtitulos">Piezas sin stock</h3>
         <div class="table-responsive">
             <table id="datatable-stockParts" class="table table-sm table-bordered table-striped table-hover table-warning">
                 <thead class="table-primary">
                 <tr>
                     <th class="centered">Pieza</th>
                     <th class="centered">Stock</th>
                 </tr>
                 </thead>
                 <tbody id="tableBody-stockParts"></tbody>
             </table>
         </div>
     </div>
 </div>

