<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}


        {% endblock %}
        |Beta
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<!--Cabecera de la pagina-->
    <header>
        <div id="logotipo">
            <img src="{% static 'images/logo.png' %}" />
            <h1>Sitio web con Django</h1>
        </div>

    </header>
    <nav>
         <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
             <li>
                 <a href="{% url 'list_articles'%}">Articulos</a>
             </li>
             <li>
                 <a href="{% url 'list_articles'%}">Categorias</a>
                 <ul>
                     {% for category in categories %}
                     <li>
                        <a href="{% url 'category' category.0 %}">{{ category.1 }}</a>
                    </li>
                {% endfor %}
                 </ul>
             </li>
            {% for page in pages %}
             <li>
                 <a href="{% url 'page' page.2 %}">{{ page.1 }}</a>
             </li>
             {% endfor %}
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">

        <div class="box">
            {% block content %}
                <!--Contenido que viene de templates-->

            {% endblock %}
        </div>
    </div>

</body>
<footer>
    Created By &copy; Dev Pablo Calvo - {% now "d/m/Y" %}
</footer>
</html>