<!DOCTYPE html>
{% extends 'layout/layout_bootstrap.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Confirmacion del pedido
    {% endblock %}
</head>
<body>
{% block seccion %}
    Checkout del pedido
{% endblock %}
{% block articleTitle %}
    Listado del pedido
{% endblock %}
{% block content %}
    <table class="table mb-5">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Articulo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Precio total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% if item.quantity > item.article.stock %}
                    <tr class="table-danger">
                        <td>SIN Stock actual: {{ item.article.stock }}</td>
                        <td>{{ item.article.id }}</td>
                        <td>{{ item.article.article_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                {% elif item.quantity == item.article.stock %}
                    <tr class="table-warning">
                        <td>Stock JUSTO, actual: {{ item.article.stock }}</td>
                        <td>{{ item.article.id }}</td>
                        <td>{{ item.article.article_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                {% else %}
                     <tr class="table-success">
                        <td>Stock OK, actual: {{ item.article.stock }}</td>
                         <td>{{ item.article.id }}</td>
                         <td>{{ item.article.article_name }}</td>
                         <td>{{ item.quantity }}</td>
                         <td>{{ item.price }}</td>
                         <td>{{ item.total_price }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>


<form method="post">
    <div class="mb-3">
        <label for="{{ form.client.id_for_label }}">Cliente</label>
        {{ form.client }}
    </div>
    <div class="mb-3">
        <label for="{{ form.discount.id_for_label }}">Descuento</label>
            <div class="input-group">
                <div class="col-1">
                    {{ form.discount }}
                </div>
                <span class="input-group-text" id="inputGroupPrepend" style="font-size: 16px; width: auto;">%</span>
            </div>
    </div>
    <div class="mb-3">
        <label for="{{ form.status.id_for_label }}">Estado</label>
        {{ form.status }}
    </div>
    <div class="mb-3">
        <label for="{{ form.delivery_date.id_for_label }}">Fecha de entrega</label>
        {{ form.delivery_date }}
    </div>
    <input class="btn btn-primary mt-4" type="submit" value="Confirmar">
    {% csrf_token %}
</form>
    <!-- Modal -->
<div class="modal fade" id="modalDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

</div>

{% block extrajs %}
    <script type="text/javascript">
    // Evitar conflicto con el $
    var $ = jQuery.noConflict()
    function modal_open(url){
        $('#modalDetail').load(url, function(){
            $(this).modal('show');
        })
    }
    </script>
{% endblock %}

{% endblock %}

</body>
</html>